<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biber.sugw.mappers.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.biber.sugw.dao.Student">
    <id column="stdId" jdbcType="INTEGER" property="stdid" />
    <result column="stdName" jdbcType="VARCHAR" property="stdname" />
    <result column="major" jdbcType="INTEGER" property="major" />
    <result column="classNum" jdbcType="VARCHAR" property="classnum" />
    <result column="stdQQ" jdbcType="VARCHAR" property="stdqq" />
    <result column="stdPhone" jdbcType="VARCHAR" property="stdphone" />
    <result column="willFirst" jdbcType="INTEGER" property="willfirst" />
    <result column="willSecond" jdbcType="INTEGER" property="willsecond" />
    <result column="isDispensing" jdbcType="VARCHAR" property="isdispensing" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.biber.sugw.dao.Student">
    <result column="reasonFirst" jdbcType="LONGVARCHAR" property="reasonfirst" />
    <result column="reasonSecond" jdbcType="LONGVARCHAR" property="reasonsecond" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    stdId, stdName, major, classNum, stdQQ, stdPhone, willFirst, willSecond, isDispensing
  </sql>
  <sql id="Blob_Column_List">
    reasonFirst, reasonSecond
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.biber.sugw.dao.StudentExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.biber.sugw.dao.StudentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from student
    where stdId = #{stdid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where stdId = #{stdid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.biber.sugw.dao.StudentExample">
    delete from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.biber.sugw.dao.Student">
    insert into student (stdId, stdName, major, 
      classNum, stdQQ, stdPhone, 
      willFirst, willSecond, isDispensing, 
      reasonFirst, reasonSecond)
    values (#{stdid,jdbcType=INTEGER}, #{stdname,jdbcType=VARCHAR}, #{major,jdbcType=INTEGER}, 
      #{classnum,jdbcType=VARCHAR}, #{stdqq,jdbcType=VARCHAR}, #{stdphone,jdbcType=VARCHAR}, 
      #{willfirst,jdbcType=INTEGER}, #{willsecond,jdbcType=INTEGER}, #{isdispensing,jdbcType=VARCHAR}, 
      #{reasonfirst,jdbcType=LONGVARCHAR}, #{reasonsecond,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.biber.sugw.dao.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stdid != null">
        stdId,
      </if>
      <if test="stdname != null">
        stdName,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="classnum != null">
        classNum,
      </if>
      <if test="stdqq != null">
        stdQQ,
      </if>
      <if test="stdphone != null">
        stdPhone,
      </if>
      <if test="willfirst != null">
        willFirst,
      </if>
      <if test="willsecond != null">
        willSecond,
      </if>
      <if test="isdispensing != null">
        isDispensing,
      </if>
      <if test="reasonfirst != null">
        reasonFirst,
      </if>
      <if test="reasonsecond != null">
        reasonSecond,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stdid != null">
        #{stdid,jdbcType=INTEGER},
      </if>
      <if test="stdname != null">
        #{stdname,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=INTEGER},
      </if>
      <if test="classnum != null">
        #{classnum,jdbcType=VARCHAR},
      </if>
      <if test="stdqq != null">
        #{stdqq,jdbcType=VARCHAR},
      </if>
      <if test="stdphone != null">
        #{stdphone,jdbcType=VARCHAR},
      </if>
      <if test="willfirst != null">
        #{willfirst,jdbcType=INTEGER},
      </if>
      <if test="willsecond != null">
        #{willsecond,jdbcType=INTEGER},
      </if>
      <if test="isdispensing != null">
        #{isdispensing,jdbcType=VARCHAR},
      </if>
      <if test="reasonfirst != null">
        #{reasonfirst,jdbcType=LONGVARCHAR},
      </if>
      <if test="reasonsecond != null">
        #{reasonsecond,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.biber.sugw.dao.StudentExample" resultType="java.lang.Long">
    select count(*) from student
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update student
    <set>
      <if test="record.stdid != null">
        stdId = #{record.stdid,jdbcType=INTEGER},
      </if>
      <if test="record.stdname != null">
        stdName = #{record.stdname,jdbcType=VARCHAR},
      </if>
      <if test="record.major != null">
        major = #{record.major,jdbcType=INTEGER},
      </if>
      <if test="record.classnum != null">
        classNum = #{record.classnum,jdbcType=VARCHAR},
      </if>
      <if test="record.stdqq != null">
        stdQQ = #{record.stdqq,jdbcType=VARCHAR},
      </if>
      <if test="record.stdphone != null">
        stdPhone = #{record.stdphone,jdbcType=VARCHAR},
      </if>
      <if test="record.willfirst != null">
        willFirst = #{record.willfirst,jdbcType=INTEGER},
      </if>
      <if test="record.willsecond != null">
        willSecond = #{record.willsecond,jdbcType=INTEGER},
      </if>
      <if test="record.isdispensing != null">
        isDispensing = #{record.isdispensing,jdbcType=VARCHAR},
      </if>
      <if test="record.reasonfirst != null">
        reasonFirst = #{record.reasonfirst,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.reasonsecond != null">
        reasonSecond = #{record.reasonsecond,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update student
    set stdId = #{record.stdid,jdbcType=INTEGER},
      stdName = #{record.stdname,jdbcType=VARCHAR},
      major = #{record.major,jdbcType=INTEGER},
      classNum = #{record.classnum,jdbcType=VARCHAR},
      stdQQ = #{record.stdqq,jdbcType=VARCHAR},
      stdPhone = #{record.stdphone,jdbcType=VARCHAR},
      willFirst = #{record.willfirst,jdbcType=INTEGER},
      willSecond = #{record.willsecond,jdbcType=INTEGER},
      isDispensing = #{record.isdispensing,jdbcType=VARCHAR},
      reasonFirst = #{record.reasonfirst,jdbcType=LONGVARCHAR},
      reasonSecond = #{record.reasonsecond,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update student
    set stdId = #{record.stdid,jdbcType=INTEGER},
      stdName = #{record.stdname,jdbcType=VARCHAR},
      major = #{record.major,jdbcType=INTEGER},
      classNum = #{record.classnum,jdbcType=VARCHAR},
      stdQQ = #{record.stdqq,jdbcType=VARCHAR},
      stdPhone = #{record.stdphone,jdbcType=VARCHAR},
      willFirst = #{record.willfirst,jdbcType=INTEGER},
      willSecond = #{record.willsecond,jdbcType=INTEGER},
      isDispensing = #{record.isdispensing,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.biber.sugw.dao.Student">
    update student
    <set>
      <if test="stdname != null">
        stdName = #{stdname,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=INTEGER},
      </if>
      <if test="classnum != null">
        classNum = #{classnum,jdbcType=VARCHAR},
      </if>
      <if test="stdqq != null">
        stdQQ = #{stdqq,jdbcType=VARCHAR},
      </if>
      <if test="stdphone != null">
        stdPhone = #{stdphone,jdbcType=VARCHAR},
      </if>
      <if test="willfirst != null">
        willFirst = #{willfirst,jdbcType=INTEGER},
      </if>
      <if test="willsecond != null">
        willSecond = #{willsecond,jdbcType=INTEGER},
      </if>
      <if test="isdispensing != null">
        isDispensing = #{isdispensing,jdbcType=VARCHAR},
      </if>
      <if test="reasonfirst != null">
        reasonFirst = #{reasonfirst,jdbcType=LONGVARCHAR},
      </if>
      <if test="reasonsecond != null">
        reasonSecond = #{reasonsecond,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where stdId = #{stdid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.biber.sugw.dao.Student">
    update student
    set stdName = #{stdname,jdbcType=VARCHAR},
      major = #{major,jdbcType=INTEGER},
      classNum = #{classnum,jdbcType=VARCHAR},
      stdQQ = #{stdqq,jdbcType=VARCHAR},
      stdPhone = #{stdphone,jdbcType=VARCHAR},
      willFirst = #{willfirst,jdbcType=INTEGER},
      willSecond = #{willsecond,jdbcType=INTEGER},
      isDispensing = #{isdispensing,jdbcType=VARCHAR},
      reasonFirst = #{reasonfirst,jdbcType=LONGVARCHAR},
      reasonSecond = #{reasonsecond,jdbcType=LONGVARCHAR}
    where stdId = #{stdid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.biber.sugw.dao.Student">
    update student
    set stdName = #{stdname,jdbcType=VARCHAR},
      major = #{major,jdbcType=INTEGER},
      classNum = #{classnum,jdbcType=VARCHAR},
      stdQQ = #{stdqq,jdbcType=VARCHAR},
      stdPhone = #{stdphone,jdbcType=VARCHAR},
      willFirst = #{willfirst,jdbcType=INTEGER},
      willSecond = #{willsecond,jdbcType=INTEGER},
      isDispensing = #{isdispensing,jdbcType=VARCHAR}
    where stdId = #{stdid,jdbcType=INTEGER}
  </update>
</mapper>